Source: hasura
Section: database
Priority: optional
Maintainer: Determined AI <hello@determined.ai>
Build-Depends: debhelper (>=11)
Standards-Version: 3.9.8
Homepage: https://hasura.io

Package: hasura
Architecture: amd64
Multi-Arch: foreign
Depends: libpq-dev, ${misc:Depends}, ${shlibs:Depends}
Description: Postgres-to-GraphQL server
