[Unit]
Description=hasura

[Service]
ExecStart=/usr/bin/hasura serve

# Add in some security/sandboxing settings. The list of settings was derived
# from https://wiki.debian.org/ServiceSandboxing and the `systemd-analyze
# security` command.
CapabilityBoundingSet=
DynamicUser=true
LockPersonality=true
PrivateDevices=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=077
